{% include 'includes/display_errors.html' %}

<form class="form-horizontal" role="form" action={{ target_url }} method='post'>
    <div class='form-group'>
        <label class="col-sm-2 control-label">Highest Qualification</label>
        <div class="col-sm-2">
            <label>Qualification</label>
            {{ form.highest_qualification }}
            {{ form.highest_qualification.errors }}
        </div>
    </div>

    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Education Specialization</label>
        <div class="col-sm-10">
          {{ form.education_specialization }}
          {{ form.education_specialization.errors }}
        </div>
    </div>

    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Institute Name</label>
        <div class="col-sm-10">
          {{ form.institute_name }}
          {{ form.institute_name.errors }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="submit" class="btn btn-default" value='Submit'/>
        </div>
    </div>
</form>
