{% if form.errors %}
    <div class='alert alert-danger'>
        Please correct the error{{ form.errors|pluralize }} below.
    </div>

{% endif %}

<form class="form-horizontal" role="form" action='/register/' method='post'>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      {{ form.email }}
      {{ form.email.errors }}
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      {{ form.password }}
      {{ form.password.errors }}
    </div>
  </div>
  <div class="form-group">
    <label for="inputConfirmPassword3" class="col-sm-2 control-label">Confirm Password</label>
    <div class="col-sm-10">
      {{ form.confirm_password }}
      {{ form.confirm_password.errors }}
    </div>
  </div>

  <div class="form-group">
    <label for="inputFirstName3" class="col-sm-2 control-label">First Name</label>
    <div class="col-sm-10">
      {{ form.first_name }}
      {{ form.first_name.errors }}
    </div>
  </div>
  <div class="form-group">
    <label for="inputLastName3" class="col-sm-2 control-label">Last Name</label>
    <div class="col-sm-10">
      {{ form.last_name }}
      {{ form.last_name.errors }}
    </div>
  </div>
  <div class="form-group">
    <label for="inputCity3" class="col-sm-2 control-label">City</label>
    <div class="col-sm-10">
      {{ form.city }}
      {{ form.city.errors }}
    </div>
  </div>
  <div class="form-group">
    <label for="inputCountry3" class="col-sm-2 control-label">Country</label>
    <div class="col-sm-10">
      {{ form.country }}
      {{ form.country.errors }}
    </div>
  </div>


  <div class="form-group">
    <label for="inputMobileNumber3" class="col-sm-2 control-label">Mobile Number</label>
    <div class="col-sm-10">
      {{ form.mobile_number }}
      {{ form.mobile_number.errors }}
    </div>
  </div>
  <div class='form-group'>
    <label class="col-sm-2 control-label">Gender</label>
    <div class="col-sm-10" "col-sm-offset-2">
    {{ form.gender }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          {{ form.terms_and_conditions }} I agree to Terms & Conditions
        </label>
        {{ form.terms_and_conditions.errors }}
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="btn btn-default" value='Register'/>
    </div>
  </div>
</form>
